<<<<<<< HEAD
<h2>Submit a new article:</h2>
<form class="" action="/article/new" method="post">
=======
<h2>Submit a new post:</h2>
<form action="/article/new" method="post">

>>>>>>> 86bdae2106f563dd4d24d0964e09ffd52c293d38
  <p>
    <label for="">Title</label>
    <input type="text" name="title" value="">
  </p>
<<<<<<< HEAD
  <p>
    <label for="">URL</label>
    <input type="text" name="url" value="">
  </p>
=======

  <p>
    <label for="">URL</label>
    <input type="url" name="url" value="">
  </p>

>>>>>>> 86bdae2106f563dd4d24d0964e09ffd52c293d38
  <p>
    <label for="">Author</label>
    <input type="text" name="author" value="">
  </p>
<<<<<<< HEAD
=======

>>>>>>> 86bdae2106f563dd4d24d0964e09ffd52c293d38
  <p>
    <label for="">Description</label>
    <textarea name="description" rows="8" cols="80"></textarea>
  </p>

<<<<<<< HEAD
  <input type="submit" name="" value="">
=======
  <input type="submit" name="" value="Submit">

>>>>>>> 86bdae2106f563dd4d24d0964e09ffd52c293d38
</form>
